.rdt_Table{
    margin-top: 50px;
    border:1px solid gray
}
/* .rdt_TableCol{
    font-size: 1rem;
    border:1px solid gray
}
.rdt_TableRow{
    border:1px solid gray
} */
.rdt_input{
    background:red;
}
@media (prefers-color-scheme: dark) {
    .rdt_TableCol{
        /* background-color: red; */
    }
}